<a href="https://colab.research.google.com/github/sudharshini-codes/Python-daily-practice/blob/main/Day08_DataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
A=10
B=20.0
C="PYTHON"
D=True
E={"A":1,"B":3}
F=["A","B"]
G=(1,2)
H={1,2,3,4,5,5,6}
I=None
print(A,type(A))
print(B,type(B))
print(C,type(C))
print(D,type(D))
print(E,type(E))
print(F,type(F))
print(G,type(G))
print(H,type(H))
print(I,type(I))

10 <class 'int'>
20.0 <class 'float'>
PYTHON <class 'str'>
True <class 'bool'>
{'A': 1, 'B': 3} <class 'dict'>
['A', 'B'] <class 'list'>
(1, 2) <class 'tuple'>
{1, 2, 3, 4, 5, 6} <class 'set'>
None <class 'NoneType'>

**Notes**


* For set type use- {}
* list,dict,set- mutable
* Funtion used to find type- type(variable)

**Program1- Data types and type()demo**

**Program2- Set operations**

In [ ]:
A={1,2,3,4}
B={3,4,5,6}

print("Union:",A|B)     #combines both sets
print("Intersection:",A&B)   #common values
print("Difference:",A-B)  #elements in A but not in B
print("Symmetric Difference:",A^B)   #elements in A or B, not both

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}
Symmetric Difference: {1, 2, 5, 6}